@lightGreen: #B2D1B2;
@green2: #5cb85c;
@green3: #4cae4c;
@green: #338533;
@darkGreen: #005C00;
@darkGreen2: #004016;
@white: #FFFFFF;
@blue: #428BCA;
@darkGray: rgb(34, 34, 34);
@darkGray2: #999999;
@darkGray3: #485563;
@darkGray4: rgb(100, 115, 130);
@darkGray5: #2b3e50;
@lightGray: rgb(153, 153, 153);
@lightGray2: rgb(238, 238, 238);
@lightGray3: #F5F5F5;
@lightGray4: rgb(235, 235, 235);
@lightGray5: #DDDDDD;
@red: #c7254e;
@red2: #d9534f;
@primary: #dd4814;
@bodyText: #333333;
@primary-trans: rgba(221,72,20,.6);

* {
	border-radius: 0px !important;
}

body {
	padding-top: 55px;
	padding-bottom: 40px;
}

.haha-nav-logo-img {
	height: 30px;
}

.haha-nav-container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
	padding-left: 15px;
}

.haha-navbar-nav-vpad-ext > li > a {
	padding-top: 19.5px;
	padding-bottom: 19.5px;
}

.haha-logo-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.haha-nav {
  height: 60px;
}

.haha-panel-md {
	width: 500px;
	margin: auto;
}

.haha-signup-panel {
	
}

.haha-show-user-panel {
		
}

.haha-form-group-sm {
  height: 30px;
}

.haha-sidebar > .nav > li {
	border-color: @lightGray5;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 0px;
}

.haha-sidebar > .nav > li:first-of-type {
	border-top-width: 1px;
}

.haha-sidebar > .nav .nav > li:last-of-type {
	border-bottom-width: 0px;
}

.haha-sidebar > .nav .nav > li {
	border-color: @lightGray5;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
}

.haha-sidebar > .nav .nav > li:first-of-type {
	border-top-width: 1px;
}

.haha-sidebar > .nav .nav > li:first-of-type > a {
	//padding-top: 10px;
}

.haha-sidebar > .nav .nav > li:last-of-type > a {
	//padding-bottom: 10px;
}

.haha-sidebar .nav > .active > a,
.haha-sidebar .nav .nav > .active > a {
  font-weight: bold;
  color: @primary;
	//color: @bodyText;
	//background-color: whitesmoke;
  //border-right: 2px solid @primary;
}

.haha-sidebar .nav > li > a:hover,
.haha-sidebar .nav .nav > li > a:hover,
.haha-sidebar .nav > .active > a:hover,
.haha-sidebar .nav .nav > .active > a:hover {
  background-color: @lightGray4;
	//text-decoration: underline;
}

.haha-sidebar > .nav > li > a {
	background-color: whitesmoke;
  color: @bodyText;
	font-size: 16px;
  padding: 8px 15px 7px 15px;
}

.haha-sidebar .nav .nav > li > a {
  color: @bodyText;
	font-size: 12px;
  padding: 6px 15px;
}

.haha-sidebar .nav .active ul li {
	//display: block;
}

.haha-sidebar .nav .nav > li {
	//display: none;
}

.haha-monospace-control {
  font-family: monospace;
}

.haha-pre-sm {
  font-size: 11px;
}

.haha-pre-xs {
  font-size: 9px;
}

.haha-img-auto-fit {
  background-color: white;
  width: 100%;
}

/*
.progress {
    position: relative;
}

.progress span {
  position: absolute;
  display: block;
  width: 100%;
  color: black;
}
*/

.haha-dt {
  width: 100px !important;
}

.haha-dd {
  margin-left: 120px !important;
}

.haha-navbar-form-sm {
  margin-top: 10px;
  padding-right: 0px;
}

.haha-sidebar-sep {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 2px;
}

.haha-hr-compact {
  margin-top: 10px;
}

.haha-hr-bcompact {
	margin-bottom: 10px;
}

.haha-hr-compact2 {
  margin-top: 5px;
}

.haha-hr-bcompact2 {
	margin-bottom: 5px;
}

.haha-no-vmargin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.haha-compact-vertical-margin .haha-compact-vmargin {
  margin-top: 5px;
  margin-bottom: 0px;
}

.haha-add-tmargin-xs {
  margin-top: 2.5px;
}

.haha-add-tpadding {
  padding-top: 9px;
}

.haha-compact-col {
  padding-left: 0px;
}

.haha-rcompact-col {
  padding-right: 0px;
}

.haha-form-control-img {
  height: 39px;
}

.tooltip-inner {
  max-width: 350px;
  width: 350px;
  padding: 5px 8px;
  background-color: @green2;
  border-color: @green3;
}

.tooltip.right .tooltip-arrow {
  border-right-color: @green2;
}

.progress-bar-gray {
  background-image: none;
  background-color: @lightGray3;
  color: @darkGray2;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
  /*
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  */
}

.haha-form-label-field {
  margin-top: 7px;
  margin-bottom: 0px;
  //color: @primary;
	font-weight: bold;
}

.haha-progress-compact {
  margin-bottom: 0px;
}

.haha-table-compact {
  margin-bottom: 0px;
}

.haha-progress-center-span {
    position: relative;
}

.haha-progress-center-span span {
    position: absolute;
    display: block;
    width: 100%;
    color: @bodyText;
		font-size: 12px;
 }

.input-group-addon {
	//background-color: @darkGray4;
}

.haha-validate-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: #b94a48;
}

/* monkey patches */
.popover {
  max-width: 1024px;
}

.haha-modal-footer-compact {
  padding-top: 14px;
  padding-bottom: 15px;
  margin-top: 0px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
	line-height: 21px;
}

.fg-success {
  color: @green2;
}

.fg-danger {
  color: @red2;
}

.fg-bold {
  font-weight: bold;
}

.modal-lg {
  width: 900px;
}

.haha-vcompact-p {
	margin-top: 0px;
	margin-bottom: 2px;
}

.haha-jumbotron {
	margin-top: 25px;
	margin-bottom: 0px;
}

.haha-jumbotron-full {
	width: 100%;
	background-color: #EEEEEE;
	//background-image: url("../../images/ad_login_001.jpg");
	margin-top: 5px;
	color: inherit;
}

.haha-transparent-box {
	background-color: rgba(0,0,0,.4);
	padding: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.haha-form-in-transbox {
	color: white;
}

table a, .table a {
	text-decoration: none;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	padding-top: 11px;
}

.fileinput-new .input-group .btn-file {
	//border-radius: 0px;
}

.selectpicker.btn-default {
	background-color: white;
	color: @bodyText;
}

.carousel-inner-container {
	padding-left: 160px;
	padding-right: 160px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: @darkGray2;
	color: white;
}

.bootstrap-select .dropdown-menu {
	background-color: white;
}

.bootstrap-select .dropdown-menu > li > a {
	color: @bodyText;
}

.bootstrap-select .dropdown-menu > li > a:hover,
.bootstrap-select .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: white;
  //background-color: whitesmoke;
}

// monkey patches
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
	padding-top: 9px;
}

.haha-pagination-bcompact {
	margin-bottom: 0px;
}

.haha-pagination-tcompact {
	margin-top: 0px;
}

.panel-heading > div.row button {
	margin-top: -5px;
	margin-bottom: -5px;
}

.panel-heading > div.row a.btn {
	margin-top: -5px;
	margin-bottom: -5px;
}

.haha-vcompact-padding {
	padding-top: 5px;
	padding-bottom: 5px;
}

.haha-compact-panel-group .panel + .panel {
	margin-top: 0px;
	border-top: 0px;
}

.haha-compact-panel-group .panel .panel-heading {
	padding-top: 7px;
	padding-bottom: 7px;
}

.haha-panel-stats .panel-body > h4 {
	color: @primary;
}