<div id="new-guarantee-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">添加担保信息</h4>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="guarantee-company" class="col-sm-3 control-label">担保公司</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="guarantee-company" name="guarantee-company" />
            </div>
          </div>
          <div class="form-group">
            <label for="guarantee-letter_code" class="col-sm-3 control-label">担保函编号</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="guarantee-letter_code" name="guarantee-letter_code" />
            </div>
          </div>
          <div class="form-group">
            <label for="guarantee-letter_scan" class="col-sm-3 control-label">担保函</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="guarantee-letter_scan" name="guarantee-letter_scan" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="guarantor-modal-save">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
