<div class='container'>
  <h3 style="margin-top:25px;"><span class="glyphicon glyphicon-home"></span> &nbsp;产品管理</h3>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <%- partial('partials/sidebar.ejs') %>
    </div>
    <div class="col-md-10">
      <%- partial('partials/maincontent.ejs') %>
    </div>
  </div>
</div>
