<div class='container'>
<br/>
<div class="row">
  <div class="col-md-10">
		<%- partial('partials/subpages/index.ejs') %>
	</div>
  <div class="col-md-2 haha-compact-col">
		<%- partial('partials/productstats.ejs') %>
	</div>
</div>
</div>
