<div class="hidden-print affix-top haha-sidebar" role="complementary" style="">
  <ul class="nav">
		<li class="<%= subpage == 'new' ? 'active' : '' %>"><a href="/product/admin?subpage=new">新建产品</a></li>
    <li class="<%= subpage == 'index' ? 'active' : '' %>"><a href="/product/admin?subpage=index">所有产品</a></li>
		<li class="<%= subpage == 'update' ? 'active' : '' %>"><a href="/product/admin?subpage=update">更新产品</a></li>
  </ul>
</div>
