<div class='container'>
	<% if (req.url == "/session/new") { %>
		<br/>
	<% } else { %>
		<hr/>
	<% } %>
  <footer class='footer'>
    <div class='pull-right'>
      <p class="text-right haha-vcompact-p"><small>版权所有 &copy; <a href="#">幻日融资服务重庆有限公司</a></small></p>
			<p class="text-right haha-vcompact-p"><small>Copyright &copy; 2014 Parhelia Financing Services Chongqing Co., Ltd.</small></p>
			<p class="text-right haha-vcompact-p"><small>All Rights Reserved</small></p>
      <p class="text-right haha-vcompact-p"><small><a href="#">渝 ICP 备 12345678 号</a></small></p>
    </div>  
  </footer>
</div>
